* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: url("img/vlute.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  background-image: url(img/vlute.jpg);
  background-size: cover;
  background-position: center;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 100, 0, 0.7);
}

.header > * {
  position: relative;
}

/* Khung ngoài */
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.note {
  margin-top: 15px;
  font-size: 20px;
  color: #050505;
}

/* Box đăng nhập */
.login-box {
  background: rgba(172, 188, 189, 0.767);
  width: 450px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(9, 128, 9, 0.425);
}

/* Logo */
.login-logo {
  width: 80px;
  margin-bottom: 10px;
}

.login-box h2 {
  color: rgb(2, 128, 2);
  margin-bottom: 20px;
  font-weight:600;
}

/* Input */
.input-group input {
  width: 85%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Button */
button {
  width: 80%;
  padding: 12px;
  background: darkgreen;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover{
  background-color:rgba(27, 120, 226, 0.712) ;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


/* ================= MOBILE (điện thoại) ================= */
@media (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .header-left {
    flex-direction: column; /* logo trên, chữ dưới */
    gap: 10px;
    text-align: center;
  }

  .header-left img {
    width: 60px;
  }

  .header-name {
    font-size: 22px;
  }

  .header-slogan p {
    font-size: 14px;
  }

  .login-btn {
    position: static; /* bỏ absolute */
    transform: none;
    margin-top: 10px;
    padding: 6px 18px;
    font-size: 14px;
  }
}
