/*body{
    background-image: url(./img/backgroud_school.webp);
}
*/
h2 {
  color: darkgreen;
  text-align: center;
}
h3 {
  color: darkgreen;
  text-align: center;
}
p {
  text-align: center;
}
ul {
  text-align: center;
}
h4 {
  text-align: center;
}
