/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BODY ================= */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= HEADER ================= */
.header {
  height: 95px;
  background: rgb(0, 100, 0);
  color: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

/* LOGO + SLOGAN (BÊN TRÁI) */
.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-left img {
  width: 70px;
}

/* SLOGAN */
.header-slogan {
  display: flex;
  flex-direction: column;
}
.header-slogan {
  margin-left: 5px;
}

.header-slogan p {
  font-size: 15px;
  font-style: italic;
  color: #fff;
  line-height: 1.3;
}

/* TÊN TRƯỜNG (GIỮA HEADER) */
.header-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

/* nút đăng nhập */
.login-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-45%);
  background: white;
  color: black !important;
  padding: 10px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.login-btn:hover {
  background: wheat;
}

/* ================= CONTACT BAR ================= */
.contact-bar {
  margin-top: auto;
  background: rgb(0, 100, 0);
  color: #fff;
  padding: 15px 20px;
  display: flex;
}

/* CONTACT TITLE (BÊN TRÁI) */
.contact-title {
  width: 140px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* CONTACT NAV */
.contact-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 2 DÒNG Ở GIỮA */
.contact-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* 3 LINK Ở DƯỚI */
.contact-bottom {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 8px;
}

/* LINK */
.contact-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.contact-nav a:hover {
  text-decoration: underline;
}
/* ================= MOBILE (điện thoại) ================= */
@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .header {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }

  .header-name {
    position: static; /* QUAN TRỌNG */
    transform: none;
    font-size: 15px;
    text-align: center;
    margin: 5px 0;
  }

  .header-left {
    flex-direction: column;
    gap: 8px;
    display: flex;
    text-align: center;
  }

  .login-btn {
    position: static;
    transform: none;
    margin-top: 8px;
    padding: 8px 20px;
    font-size: 14px;
  }

  .contact-bar {
    font-size: auto;
    display: flex;
  }
  .contact-title {
    width: auto; /* bỏ width cứng */
    justify-content: center;
    font-size: 18px;
  }

  .contact-nav {
    align-items: center;
  }

  .contact-center {
    font-size: 16px;
  }

  .contact-bottom {
    flex-direction: column; /* link xếp dọc */
    gap: 1px;
  }
}
